@charset "UTF-8";

body {
    background-image: linear-gradient(to top, var(--cor02), var(--cor01));
}


div#formulario {
    font-size: 1.3em;
}

section#login {
   width: 1150px;
   height: 450px;
}

section#login > div#imagem{
    width: 50%;
    float: right;
}

section#login > div#formulario{
    width: 50%;
    float: left;
}

.campo > input {
    transform: translateY(-18px);
}

.campo span {
    transform: translateY(-5px);
}