@charset "UTF-8";

body {
    background-image: linear-gradient(to top, var(--cor02), var(--cor01));
}

section#login {
    width: 90vw;
}

section#login > div#imagem{
    float: left;
    width: 30%;
    height: 100%;
}

div#formulario{
    float: right;
    width: 70%;
    height: 100%;
}

div#formulario h1 {
    padding: 10px;
    font-size: 2em;
}

div#formulario p{
    padding: 5px;
    font-size: 1.2em;
}