@charset "UTF-8";

:root{
    --cor01: #617E80;
    --cor02: #7F6D61;
    --cor03: #5f5149b6;
}

* {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: var(--cor01);
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 275px;
    height: 525px;
    border-radius: 20px;
    text-align: center;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.411);
    transition: width .7s, height .7s;
    transition-timing-function: ease;
}

section#login > div#imagem {
    background: var(--cor01) url(../imagens/fundo-login.jpg) no-repeat center center;
    background-size: cover;
    height: 200px;
}

div#formulario {
    padding: 10px;
}

.campo  {
    height: 40px;
    color: var(--cor02);
    border-radius: 10px;
    margin: 5px;
}

input[type='email'], input[type='password'], label {
    background-color: var(--cor02);
}

.campo span {
    color: black;
    padding: 5px;
    font-size: 1.2em;
}

form > input[type='submit']  {
    width: 100%;
    height: 40px;
    display: block;
    background-color: var(--cor02);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px;
    margin: 5px 0px;
    cursor: pointer;
    font-weight: bolder;
}

form > input[type='submit']:hover {
    background-color: var(--cor01);
    transition: background-color .5s;
}

form > a {
    display: block;
    width: 100%;
    height: 40px;
    text-decoration: none;
    color: var(--cor02);
    border: 1px solid var(--cor02);
    border-radius: 5px;
    font-weight: bold;
}

form > a:hover {
    transition: color .5s;
    color: var(--cor01);
    border: 1px solid var(--cor01);
}